<a href="https://colab.research.google.com/github/yannhabib/Logistic-Regression-with-R/blob/main/GARCH_Model_Application_exercercise_FEQRM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import math

def calculate_ht(yt_values, h3510, t_values):
    # Initialize the result list with the known value h3510
    ht_values = [h3510]
    sdt_values = [math.sqrt(h3510)]

    # Loop through the t_values and calculate the corresponding ht
    for t in t_values:
        yt = yt_values[t_values.index(t)]  # Get the corresponding yt value for the current t
        prev_ht = ht_values[-1]  # Get the previous ht value
        # Calculate the new ht using the given formula
        ht = 3.889 + 0.0487 * (yt ** 2) + 0.9424 * prev_ht
        ht_values.append(ht)
        sdt_values.append(math.sqrt(ht))

    return ht_values[1:], sdt_values[1:]  # Exclude the initial h3510 value since it's already known

# Given data
yt_values = [-33.64, 23.25, 3.68, -18.67, 25.61]
h3510_value = 572.87
t_values_to_calculate = [3511, 3512, 3513, 3514, 3515]

# Calculate ht and st values for the desired t values
ht_values_calculated, sdt_values_calculated = calculate_ht(yt_values, h3510_value, t_values_to_calculate)

# Print the results
results = []
for t, ht, sdt in zip(t_values_to_calculate, ht_values_calculated, sdt_values_calculated):
    results.append(f"ht at t = {t}: {ht:.4f}, sdt at t = {t}: {sdt:.4f}")

results

['ht at t = 3511: 598.8730, sdt at t = 3511: 24.4719',
 'ht at t = 3512: 594.5923, sdt at t = 3512: 24.3843',
 'ht at t = 3513: 564.8923, sdt at t = 3513: 23.7675',
 'ht at t = 3514: 553.2188, sdt at t = 3514: 23.5206',
 'ht at t = 3515: 557.1834, sdt at t = 3515: 23.6047']

In [23]:
# computing VaR 5% for all ts
Z = 1.645
resulting = []
for t, sdt in zip(t_values_to_calculate, sdt_values_calculated):
    var = sdt * Z
    resulting.append(f"VaR at t = {t}: {var:.4f}\n")
print(resulting)

['VaR at t = 3511: 40.2562\n', 'VaR at t = 3512: 40.1121\n', 'VaR at t = 3513: 39.0975\n', 'VaR at t = 3514: 38.6914\n', 'VaR at t = 3515: 38.8298\n']

In [30]:
def calculate_ht(yt_values, h3510, t_values):
    # Initialize the result list with the known value h3510
    ht_values = [h3510]
    sdt_values = [math.sqrt(h3510)]

    # Loop through the t_values and calculate the corresponding ht
    for t in t_values:
        yt = yt_values[t_values.index(t)]  # Get the corresponding yt value for the current t
        prev_ht = ht_values[-1]  # Get the previous ht value
        # Calculate the new ht using the given formula
        ht = 6.225 + 0.0391 * (abs(yt) - 0.4719 * yt) ** 2 + 0.9354 * prev_ht
        ht_values.append(ht)
        sdt_values.append(math.sqrt(ht))

    return ht_values[1:], sdt_values[1:]  # Exclude the initial h3510 value since it's already known

# Given data
yt_values = [-33.64, 23.25, 3.68, -18.67, 25.61]
h3510_value = 491.75
t_values_to_calculate = [3511, 3512, 3513, 3514, 3515]

# Calculate ht and st values for the desired t values
ht_values_calculated, sdt_values_calculated = calculate_ht(yt_values, h3510_value, t_values_to_calculate)

# Print the results
results = []
for t, ht, sdt in zip(t_values_to_calculate, ht_values_calculated, sdt_values_calculated):
    results.append(f"ht at t = {t}: {ht:.4f}, sdt at t = {t}: {sdt:.4f}")

results

['ht at t = 3511: 562.0697, sdt at t = 3511: 23.7080',
 'ht at t = 3512: 537.8796, sdt at t = 3512: 23.1922',
 'ht at t = 3513: 509.5053, sdt at t = 3513: 22.5722',
 'ht at t = 3514: 512.3434, sdt at t = 3514: 22.6350',
 'ht at t = 3515: 492.6230, sdt at t = 3515: 22.1951']